:root {
    --white-color : #fff;
    --black-color :#000;
    --text-color : #333;
    --main-color : #f53d2d;
    --header-height: 120px;
    --nav-height:39px;
    --header-with-search-height: calc(var(--header-height)  -  var(--nav-height));
}

* {
    box-sizing: inherit; 
    /* giúp các thành phần có tính kế thừa của thẻ html */
}

html {
    font-size: 62.5%;  
    /* Để giúp ước lượng em dễ hơn */
    line-height: 1.6em;
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
    box-sizing: border-box;
}


.grid {
    width: 1200px; 
    /* màn hình rộng 1280px nên 1200 để căn */
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

/* reponsive */
.grid__column-2 {
    padding-right: 5px;
    padding-left: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-right: 5px;
    padding-left: 5px;
    width: 83.3333%;
}

.grid__column-2-10 {
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}


@keyframes Growth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


/* modal auth-form */

.modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.4;
    z-index: 1;
   
}

.modal_body{
    background-color: #fff;
    position: relative;
    width: 50%;
    z-index: 2;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
}

.auth-form{
    padding: 32px 32px 0px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 45px 10px;
}

.auth-form__heading{
    font-size: 30px;
    font-weight: 500;
}

.auth-form__transfer{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    cursor: pointer;
}

.auth-form__input-group{
    margin: 15px 0;
    font-size: 13px;
}

.auth-form__input{
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.auth-form__btn {
    padding: 12px;
    min-width: 150px;
    margin: 0 3px;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn__back{
    background-color: #b1b1b1;
}

.btn__back:hover{
    background-color: #cecaca;
}

.btn__sign-up{
    background-color: var(--main-color);
    color: var(--white-color);
}

.btn__sign-up:hover{
    background-color: #f2796e;
}

.auth-form__footer{
    background-color: #ccc;
}
.auth-form__social{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin:0 35px;
}
.auth-form__btn--sms{
    background-color :#118a09;
    color: var(--white-color);
    padding: 5px 10px;
    margin: 0 3px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.auth-form__btn--facebook{
    background-color :#4267b2;
    color: var(--white-color);
    padding: 5px 10px;
    margin: 0 3px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.auth-form__btn--google{
    background-color :var(--white-color);
    width: 100%;
    padding: 5px 10px;
    margin: 0 0 0 3px;
    color: #333;
    display: flex;
    align-items: center;
}

.auth-form__img{
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.auth-form__footer--content{
    margin: 0 23%;
}

.auth-form__footer--sms{
    margin:0 50px;
}

